/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.voucher-tracking-page .entry-header h1 {
    text-align: center;
}

.vtp-wrapper {
    font-family: 'Lato';
    font-size: 14px;
}

.vtp-wrapper p {
    margin-bottom: 0;
}

.vouchers-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.voucher-wrapper {
    border: dashed 1px #54ae68;
    padding: 5px;
    margin: 5px;
    min-width: 300px;
    text-align: center;
}

.voucher-wrapper h4 {
    margin: 10px;
}

.voucher-wrapper p {
    max-width: 250px;
    margin: auto;
}