/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/* Fix for Products table */
#taxonomy-location, #taxonomy-type {
    width: 10%;
}

.taxonomy-location, .taxonomy-type {
    color: #999 !important;
}

#product_tag, .column-product_tag,
#sku, .column-sku {
    display: none;
}